parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - bin
        - src
    ignoreErrors:
        - '#Attribute class JetBrains.* does not exist\.#'